h1, h2, h3 {
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
  font-size: 300%;
}

.headimg {
  position: relative;
  width: 100%;
}

.aboutimg {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 130px;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 48px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(240,240,240,0.7);
}

#abouttext {
  padding-left: 20px;
}

.overlay span {
  position: absolute;
  bottom: 0;
}

.headimg:hover .overlay {
  opacity: 1;
}

.container {
  margin: auto;
  width: 70%;
  min-width: 370px;
  margin-top: 190px;
}

.column {
  flex: 50%;
  flex-direction: column;
}

.column_in {
  flex: 50%;
  padding: 10px;
}

.column_in img,video{
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.fixedRow {
  display: flex;
  flex-direction: row;
}

.box {
  background-color: #f0f0f0;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.boxImgOnly {
  background-color: #f0f0f0;
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.calendarDayBox {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: row;
}
.calendarDateBox {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  margin: 6px;
}

.dateBox {
  float: left;
  margin: 6px;
  max-width: 2ch;
}

.eventBox {
  font-size: 65%;
  margin-left: 4px;
}

.imgOnly {
  max-width: 100%;
  min-width: 100%;
}



.boardMem {
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.boardMemImg {
  text-align: center;
  height:200px;
  width:200px;
  border-radius: 50%;
  background-size: 200px 200px;
  transition: .6s ease;
}

.column_board {
  flex-direction: column;
  margin: 0 auto;
  height: 470px;
}

.boardText {
  width: 200px;
  text-align: center;
}



.boxOverImage {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: rgba(240,240,240,0.7);
}

.boxOverImage span {
    position: absolute;
    bottom: 0px;
    left: 16px;
}

.boxImgOnly:hover .boxOverImage {
  opacity: 1;
}


@media (max-width: 850px) {
  .row {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
}

.shopimg {
  width: 100%;
}

#imgtext {
  position: relative;
  bottom: 975px;
  left: 0px;
  color: black;
  font-style: italic;
  font-size: 30px;
  visibility: visible;
}

#expandedImg{
  position: relative;
  bottom:425px;
  left:400px;
  width: 50%;
  height:100%;
}

.closebtn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: red;
  font-size: 35px;
  cursor: pointer;
}

.ccImg {
	height: auto;
	width: 100%;
}

.dots {
  text-align: center;
  padding: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #e3e3e3;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.dot:hover, .currentDot {
  background-color: #a4a4a4;
}

.carousel {
  width: 100%;
  position: relative;
  margin: auto;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}


.songBox {
  background-color: #f0f0f0;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.songBox > h2 {
  text-align: center;
  cursor: pointer;
}

.lyricBox {
  padding-bottom: 20px;
}

/* Here I want to pick out specific songs that should be divided into columns by default
if the browser's size allows for it - otherwise, it'll be a single column as normal.
Problem: some columns unfortunately split up in the middle of verses, haven't found a fix yet :/ */
@media (min-width: 1000px) {
  #s1_lyr,#s2_lyr,#s7_lyr,#s8_lyr,#s13_lyr,#s14_lyr,#s18_lyr,#s20_lyr {
    columns: auto 2;
    column-gap: 1em;
  }
}

.formBox {
  background-color: #f0f0f0;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
}

.contactRow {
  max-width: 820px;
  margin: 0 auto;
}

.form {
  text-align: center;
  width: auto;
}

fieldset {
  border: none;
  margin: 0 auto;
}

input {
  width: 50%;
  width: inherit;
}

textarea {
  width: 100%;
  max-width: 600px;
}

input[type=submit]:hover, input[type=button]:hover {
  cursor: pointer;
  background-color: #cacaca;
}

input[type=submit], input[type=button] {
  padding: 15px 32px;
  border: none;
  border-radius: 5px;
  min-width: inherit;
  background-color: #e3e3e3;
}

#map {
  width: 300px;
  height: 300px;
  position: relative;
}

.map {
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

#sosmed {
  margin: 35px;
  text-align: left;
}

#mazetxt {
  margin: 35px;
  text-align: left;
}

.sosial {
  background-color: #f0f0f0;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  height: 430px;
  min-width: 300px;
}

.sosial .fa {
  padding: 10px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 75%;
}

.sosial .fa:hover {
  opacity: 0.7;
}

.sosial .fa-facebook {
  background: #3B5998;
  color: white;
}


.sosial .fa-instagram {
  background: #125688;
  color: white;
}

.sosial .fa-envelope {
  background: black;
  color: white;
}

.sosial ul {
  list-style: none;
}

.braakImg {
  float: left;
  width: 50%;
  padding-right: 15px;
}

.box, .formBox, .sosial, .boardMemImg, .boxImgOnly, .shopBox1, .shopBox2 {
  box-shadow: 0 4px 8px 0 rgba(120,120,120,.2), 0 6px 20px 0 rgba(120,120,120,.2);
}



.wrapper {
  display: flex;
  width: 100%;
  height: 300px;
  flex-wrap: wrap;
  height: 100%;
}

.shopCol {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.shopBox1 {
  flex: 1;
  background-color: #f0f0f0;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.shopBox2 {
  flex: 2;
  background-color: #f0f0f0;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.infoText {
  width: 95%;
  margin: 0 auto;
}

.infoText0 {
  width: 80%;
  margin: 0 auto;
}

.handlekurvButton {
  width: 100%;
  min-width: inherit;
  background-color: #e3e3e3;
}

#slettBestilling, #videre {
  margin-bottom: 5px;
}

.textBox {
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  margin: 0 auto;
}

#textBox {
  display: none;
}

#kontaktInfo {
  display: none;
}

#takk {
  display: none;
}

#epost {
  width: 100%;
}

#validateTekst {
  display: none;
}

@media (max-width: 850px) {
  .textBox {
    width: 100%;
  }
}

@media (min-width: 850px) {
  .textBox {
    width: 40%;
  }
}

.textBox p {
  text-align: center;
}

.buttons {
  bottom: 0;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
}
