h1, h3 {
  text-align: center;
}

.container {
  margin: auto;
  width: 70%;
  min-width: 400px;
}

.column {
  flex: 50%;
}

.column_in {
  flex: 50%;
  padding: 10px;
}

.row {
  display: flex;
  margin: 10px;
}

.box {
  background-color: #f0f0f0;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  min-width: 150px;
}

.shopimg {
  width: 100%;
}

.galcolumn {
  float: left;
  width: 25%;
  padding: 10px;
}

.galcolumn img {
  opacity: 0.8;
  height:200px;
  width:200px;
  cursor: pointer;
}

.galcolumn img:hover {
  opacity: 1;
}

.galrow:after {
  content: "";
  display: table;
  clear: both;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
